{
  "extends": "defaults/configurations/walmart/es6-node",
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "never"],
    "arrow-parens": [2, "as-needed"],
    "func-style": [2, "declaration", { "allowArrowFunctions": true }],
    "no-use-before-define": 0,
    "no-console": 0
  },
  "env": {
    "mocha": true
  }
}
